{% extends "base.html" %}

{% block content %}

    <form class=form action="" method="post">
        <h1>Авторизация</h1>
        {{ form.hidden_tag() }}
        <div class="input labeled">
            {{ form.email(class="form-control email-icon", type="email", placeholder="email почта") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="input labeled">
            {{ form.password(class="form-control password-icon", type="password", placeholder="Пароль") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <p>{{ form.submit(type="submit", class="begin-reg-ath") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}